@charset "utf-8";
/* CSS Document */

header {
	background-color:black;
text-align:center;
	color: #6F149E
}
body {
	background-color: #000000;
	color:white;
	text-align:center;
	padding:20px;
}

section {
	background-color: orange;
	max-width: 1200px;
	color: #6F149E;
	margin:0px auto;

	padding:30px;
	overflow:hidden;
}
.epic {
	background-color: #6F149E;
	color:#FFA500;
	padding:10px;
}
footer{
	padding-top:30px;
}
a:link{
color:#6F149E;
	
}
/*visted link*/
a:visited{
	color:#390A6C;
}
/*mouse over element*/
a:hover{
	color:red;
	text-decoration:none;
}
/*pressing down on element*/
a:active{
	color:#FFFD00;
}
section ul {
  list-style-type: none;
  margin: 0;
 
  overflow: hidden;
	background-color:#FFB226;
	padding:20px;
}
section ol {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
background-color: #5F1188;
	padding:20px;
}
blockquote{
	background-color:#FFB226;
	padding-bottom:30px;
	padding-top:30px;
}
nav li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}
nav li {
  float: left;
}
nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
	overflow: hidden;}
