@charset "utf-8";
/* CSS Document */
#Name{
	background-color:black;
	color:#8F4B9D;
	font-family:'Blaka Hollow', cursive;;

}
#About-Me {
	background-color: black;
background-align: center;
	color:#8F4B9D;
}

#Bio {
	background-color:#8F4B9D;
	}

#nav {
	background-color:#D67A00;
}


nav li {
	display:inline-block;
	overflow:hidden;
	padding:10px;
}
 #Artwork{
background-color:#8F4B9D;
	 color:black;
}

#OtherWork{
	background-color:black;
	color:#8F4B9D;
}

#Links {
	background-color:#8F4B9D;
	color:black;
}

section{
	font-family: 'Alatsi', sans-serif;
}

/*LINK CODE*/
a:link{
color:#830000;
	
}
/*visted link*/
a:visited{
	color:#D5B7C1;
}
/*mouse hover*/
a:hover{
	color:aqua;
	text-decoration:none;
}
/*pressing down on link*/
a:active{
	color:#EE1F23;
}