@charset "utf-8";
/* CSS Document */

header {
	background-color: #7A29C2;
}

#Intro {
	background-color:#9633EF;
}

#buttonskin3{
	height:2%;	
	border: 3px;
	padding: 10px;
}

#buttonskin2{
	height:2%;
	border: 3px;
	padding: 10px;
}

#buttonskin1{
	height:2%;
	border: 3px;
	padding: 10px;
}

#icon1{
	height:2%;
	border: 3px;
	padding: 10px;
}

#icon2{
	height:2%;
	border: 3px;
	padding: 10px;
}

#hair1{
	height:2%;
	border: 3px;
	padding: 10px;
}

#hair2{
	height:2%;
	border: 3px;
	padding: 10px;
}

#hair3{
	height:2%;
	border: 3px;
	padding: 10px;
}

#miscicon{
	height:2%;
	border: 3px;
	padding: 10px;
}

#yes{
	height:2%;
	border: 3px;
	padding: 10px;
}

#no{
	height:2%;
	border: 3px;
	padding: 10px;
}

body{
	background-color:#AC51FF;
}


#skin, #hair, #tattoos {
	position:absolute;
}

#builder{
	position:relative;
	
}


